@import url('./bootstrap.min.css');

@font-face {
    font-family: "Ubuntu";
    src: url(./../Fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: "Ubuntu";
    font-size: 14px;
}

.primary-color {
    color: #800000;
}

.side-login-image {
    max-width: 100%;
    max-height: 100vh;
}

.title {
    font-size: 20px;
}

.sub-title {
    font-size: 25px;
}

.bg-primary {
    background: #800000 !important
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #d9d9d9 !important;
}

.page-title {
    color: #800000 !important;
    font-size: 18px;
}

.page-subTitle {
    font-size: 12px;
    color: #535353;
    font-weight: bold;
}

#address {
    resize: none;
}

th,
td {
    font-size: 13px;
}

.form-control {
    font-size: 12px;
}

label {
    font-size: 13px;
}

.timeline-container {
    position: relative;
}

.timeline {
    list-style-type: none;
    position: relative;
    margin: 0;
}

.timeline::before {
    content: ' ';
    background: 1px #d8d8d8;
    position: absolute;
    width: 1px;
    height: 90%;
    left: 15px;
    top: 15px;
    transition: height 0.5s ease-in-out;
}

.timeline li:first-child::before {
    content: ' ';
    position: absolute;
    background: #800000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 10px;
    top: 5px;
}

.item_name {
    font-size: 14px;
}

.stage {
    font-size: 13px;
}

.date {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: bold;
}

li.nav-item {
    font-size: 14px;
}

a.navbar-brand.font-weight-bold {
    font-size: 16px;
}

.input-group-text {
    padding: 0 10px !important;
}